.editBlock {
  display: flex;
  gap: 20px;
}

.editInput {
  padding: 8px 20px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.5em;
  background: #eeedf0;
}

.editButton {
  background: #f1994b;
}

.deleteButton {
  background: #d35360;
}
